<header focusOnNavigation class="header-background" aria-label="Get started" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1>Ngx EditorJs</h1>
      <h2>A Custom Themeable Angular Material Component</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button>Get started</a>
    </div>
  </div>
</header>
<main class="home-main">
  <mat-card>
    <h2>Editor Js</h2>
    <mat-divider></mat-divider>
    <ngx-editorjs></ngx-editorjs>
  </mat-card>
</main>